<header class="py-3 px-sm-5 px-2 app-header position-relative">
  <nav class="d-flex justify-content-between align-items-center">
    <a href="#"><img class="app-header-harri-logo" src="assets/harri-logo.webp"></a>
    <button class="border-none rounded-pill border-0 selector-btn-app-header">
      <div class="app-header-slider d-flex align-items-center rounded-pill ps-1 pe-3 gap-2">
        <img class="rounded-circle header-profile-img" [src]="img" [alt]="name">
        <p class="m-0 py-2">{{name}}</p>
        <ion-icon name="caret-down-outline"></ion-icon>
      </div>
    </button>
  </nav>
</header>
