<div class="sort-applicants-component d-flex align-items-center gap-2 border border-black h-100  rounded-3 position-relative">
  <label class="position-absolute sort-label-applicants-component">Sort by</label>
  <select class="form-select h-100 sort-applicants-component" [(ngModel)]="selectedValue" (ngModelChange)="handleChangeValue()" aria-label="Default select example">
    <option value="default" selected>default</option>
    <option value="name">name</option>
    <option value="job">job</option>
    <option value="date">applied date</option>
  </select>
</div>
